parser: babel-eslint
extends: standard

env:
  node: true
  mocha: true

rules:
  camelcase: 0
  semi: [2, always]
  object-curly-spacing: [2, always]
  space-before-function-paren:
  - error
  - anonymous: never
    named: never
    asyncArrow: always
  prefer-arrow-callback:
  - error
  - allowNamedFunctions: false
    allowUnboundThis: true
  arrow-parens:
  - error
  - as-needed
  - requireForBlockBody: true
  lines-between-class-members:
  - error
  - always
  - exceptAfterSingleLine: false